# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. C##
4. R
5. JAVA
6. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
4. Keras
5. TensorFlow

<table>
<tr> 
<th> <Data Science Tools>
</tr>

<tr>
<td>< SAS ></td>
<td>< Apache Hadoop></td>
<td>< TensorFlow ></td>

|Data science tool|
|---|
|SAS|
|TensorFlow|
|Apache Hoodop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

 __Objective__
* List popular languages For Data science
* List the popular languages in Data science
* List the well known data science tools
* Providing comments in a cell

## Author

Lebogang Lebudi